waTestaValidacao/Service References/ServiceReference1/ServiceValidacao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Validacao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Validacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoComposto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ValorBoolean" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValorString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComposto" nillable="true" type="tns:TipoComposto" />
</xs:schema>